{% extends 'base.html.twig' %}

{% block content %}
<br>
<br>
<br>

<h1 class="col-4 mx-auto">Connexion</h1>
​
<form method="post" action="{{ path('connexion_check') }}" class="formulaire col-md-4 col-sm-10 col-xs-10 mx-auto p-4">
    <div class="form-group col-10 mx-auto">
        <input type="text" class="form-control" name="_username" value="{{ lastUsername }}" placeholder="Pseudo" />
    </div>
    <div class="form-group col-10 mx-auto">
        <input type="password" class="form-control" name="_password" value="" placeholder="Mot de passe" />
    </div>
    <div class="form-group col-10 mx-auto">
        <input type="submit" class="btn col-12 loginbtn" value="connexion" />
    </div>
</form>
​
{% endblock %}