{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center mx-auto mt-5 titrelogin"> A propos de GEEK'ation</h1>
<hr>
<div class="row justify-content-center mx-auto mb-4">
<div class="col-md-4 text-justify"> Geek'ation est une boutique de location de consoles et jeux videos. Soirée entre potes ? L'envie de louer seulement pour les vancaces ? Nous sommes là pour ça.
<br>
Des locations à votre guise à venir chercher sur place. 
<br>
Nos locaux sont situés au 22 Rue Portefoin dans le 3è arrondissement de Paris. 
 </div>
<div class="col-md-6"><img class="img-fluid" src="{{ asset('image/geekationboutique.png')}}" style=" border: 10px solid white; "></div>
</div>

{% endblock %}