{% extends 'base.html.twig' %}

{% block content %}
<h1 class="col-12 text-center text-white">Profil de ...</h1>

<div class="row pt-2 mx-auto identifiant">
    <h3 class="col-6 offset-3 btn-dark pb-2 pt-2">Identifiants de connexion</h3>
    <ul class="col-12 offset-4 donnees">
        <li>Identifiant</li>
        <li>Mot de passe</li><a href="#" class="mdp">Modifier le mot de passe</a>
    </ul>
</div>

<div class="row mx-auto information">
    <h3 class="col-6 offset-3 btn-dark pb-2 pt-2">Informations Personnelles</h3>
    <ul class="col-12 offset-4 donnees">
        <li>Nom . Prénom</li>
        <li>Date de naissance</li>
        <li>Adresse E-mail</li><a href="#" class="email">Changer l'E-mail</a>
    </ul>
</div>

<div class="row mx-auto adresseclient">
    <h3 class="col-6 offset-3 btn-dark pb-2 pt-2">Votre adresse de facturation</h3>
    <ul class="col-12 offset-4 donnees">
        <li>Adresse</li>
        <li>Code Postal</li>
        <li>Ville</li>
    </ul>
</div>

<div class="row mx-auto docs">
    <h3 class="col-6 offset-3 btn-dark pb-2 pt-2">Vos documents télécharger</h3>
    <ul class="col-12 offset-4 donnees">
        <li>Pièce d'identité</li><img src="#"><br><a href="#" class="ci">Charger votre nouvelle pièce d'identité</a>
        <li>RIB</li><img src="#"><br><a href="#" class="rib">Charger votre nouveau RIB</a>
    </ul>
</div>
<br>
<div class="row-12 mx-auto cdes">
    <h3 class="col-12 mt-5 btn-dark pb-2 pt-2 vdc">Vos dernieres commandes</h3>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>N° de la commande</th>
                <th>Descriptif</th>
                <th>Date de disponibilité</th>
                <th>Date de rendu</th>
                <th>Activité de la commande</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}