{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
    {% for produit in produits %}
        <div class="col-3 mx-auto my-2 p-2 border border-dark text-center">
            <p>{{ produit.nom }}</p>
            <p>{{ produit.prix }}€</p>
            <a class="btn btn-info" href="{{path('produit', {slug: produit.slug})}}">Fiche produit</a>
        </div>
    {% endfor %}
</div>

{% endblock %}