{% extends 'base.html.twig' %}


{% block content %}


<h1 class="text-center mt-4">Trouver le produit qu'ils vous faut </h1>

<div class="container">

    {% for pro in produits %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ pro.nom }}</h5>
            <p class="card-type">{{ pro.type }}</p>
            <p class="card-univers">{{ pro.univers }}</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="{{ path('produit', { slug : pro.slug } ) }}" class="btn btn-primary">Voir Produits</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}