{% extends 'base.html.twig' %}

{% block content %}
    <p>Voici la page du produit : {{ produit.nom }}</p>
    {{dump(produit)}}
    <a href="{{ path('ajoutpanier', ['slug' => produit]) }}" class="btn btn-primary">Ajouter au panier</a>
{% endblock %}
