{% extends 'base.html.twig' %}

{% block content %}
    <p>Voici la page du produit : {{ produit.nom }}</p>
    {{dump(produit)}}
    <form action="{{ path('ajoutpanier', {slug: produit.slug}) }}" method="post">
        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
    </form>
{% endblock %}
