{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center m-1">
        <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-1 m-3">
            <div class="row univers-bottom-desc p-3">
                <div class="univers-titre">
                    PlayStation 4</div>
                <div class="univers-desc">
                    La console la plus vendue au monde, avec 500 Go ou 1 To de stockage et des graphismes HDR impressionnants.</div>
                <div class="btn col-10 offset-1 univers-savoir-1 p-3 mt-2">
                    <a href="{{ path('univers_search', {uni: 'sony' }) }}" class="lien-savoir">Découvrir l'univers</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center m-1">
        <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-2 m-3">
            <div class="row"></div>
            <div class="row univers-bottom-desc p-3">
                <div class="univers-titre">
                    XBox One</div>
                <div class="univers-desc">
                    Que vous jouiez à des jeux, regardiez vos émissions préférées ou diffusiez du gameplay, Xbox One S fournit des graphismes incroyables grâce à la technologie HDR, un audio de qualité supérieure et une jouabilité en ligne rapide et fiable avec vos amis.</div>
                <div class="btn col-10 offset-1 univers-savoir-2 p-3 mt-2">
                    <a href="{{ path('univers_search', {uni: 'microsoft' }) }}" class="lien-savoir">
                        Découvrir l'univers</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center m-1">
        <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-3 m-3">
            <div class="row univers-bottom-desc p-3">
                <div class="univers-titre">
                    Nintendo Switch
                </div>
                <div class="univers-desc">
                    La Nintendo Switch peut se transformer pour s'adapter à votre situation, de manière à ce que vous puissiez profiter de vos jeux quel que soit votre rythme de vie.

C'est une nouvelle ère où vous ne devez plus adapter votre quotidien pour pouvoir jouer, c'est désormais votre console qui s'adapte à votre style de vie.

Profitez de vos jeux où, quand et avec qui vous le souhaitez !</div>
                <div class="btn col-10 offset-1 univers-savoir-3 p-3 mt-2">
                    <a href="{{ path('univers_search', {uni: 'nintendo' }) }}" class="lien-savoir">Découvrir l'univers</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
