{% extends 'base.html.twig' %}

{% block content %}
     <div class="row justify-content-center m-1">
        <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-1 m-3">
            <div class="row univers-bottom-desc p-3"> 
                <div class="univers-titre"> Univers 1</div>
                <div class="univers-desc"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quae nihil animi voluptates quos, modi obcaecati? Eaque enim id neque laudantium itaque quam quidem maiores!</div>
                <div class="btn col-10 offset-1 univers-savoir-1 p-3 mt-2"> <a href="#" class="lien-savoir">Découvrir l'univers</a> </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center m-1">
            <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-2 m-3">
                <div class="row"></div>
                <div class="row univers-bottom-desc p-3"> 
                    <div class="univers-titre"> Univers 2</div>
                    <div class="univers-desc"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quae nihil animi voluptates quos, modi obcaecati? Eaque enim id neque laudantium itaque quam quidem maiores!</div>
                   <div class="btn col-10 offset-1 univers-savoir-2 p-3 mt-2"> <a href="#" class="lien-savoir"> Découvrir l'univers</a> </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center m-1">
                <div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 univers-3 m-3">
                    <div class="row univers-bottom-desc p-3"> 
                        <div class="univers-titre"> Univers 3</div>
                        <div class="univers-desc"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quae nihil animi voluptates quos, modi obcaecati? Eaque enim id neque laudantium itaque quam quidem maiores!</div>
                        <div class="btn col-10 offset-1 univers-savoir-3 p-3 mt-2"> <a href="#" class="lien-savoir">Découvrir l'univers</a> </div>
                    </div>
                </div>
            </div>
{% endblock %}
