
{% extends 'base.html.twig' %}

{% block title %} GEEK'ation - Inscription {% endblock %}


{% block content %}


<h1 class="col-6 mx-auto">Inscription</h1>

{{form_start(membreForm)}}

{% for form in membreForm %}
<div class="col-6 mx-auto">
   {{ form_row(form) }}
</div>
{% endfor %}


{{form_end(membreForm)}}


{% endblock %}