{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
<div class="sitefake text-center mt-5">
    <p>Ce site à été créé dans le but de réaliser une soutenance WEBFORCE3.</p>
    <p>Ce site est un faux.</p>
    <p>Merci de votre compréhension.</p>
    <strong class="teamasq">La Team MASQ.</strong>
</div>

    <h1 class="text-center mb-5 mt-5 titrementions">Conditions Générales de Vente</h1>

    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Dénomination de la société</h2>
    <div>
        <p>Société <strong>GEEK'ation</strong> au capital de 1 euros</p>
            <ul class="colorcontact">
                <li>Siège social 22 rue portefoin, 75003 Paris</li> 
                <li>01 23 45 67 89</li>
                <li>contact@geekation.com</li>
                <li>RCS de PAris n° 2154579894</li>
                <li>N° individuel d'identification fiscal 214598964521359</li>
            </ul>
        <p>Conditions générales de vente des produits vendus sur <strong>GEEK'ation</strong></p>
        <p>Date de dernière mise à jour 01/09/2019 </p>
    </div>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 1 - Objet</h2>
        <p>Les présentes conditions régissent la location par la société
        <strong>GEEK'ation</strong>
         des marchandises suivantes :
        <strong>consoles, jeux et accessoires</strong>.</p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 2 - Les prix</h2>
        <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors 
        frais de traitement et d'expédition.</p>

        <p>La société <strong>GEEK'ation</strong> s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix 
        indiqués lors de l'enregistrement de la commande.</p>

        <p>Les produits demeurent la propriété de la société <strong>GEEK'ation</strong></p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 3 - Commandes</h2>
    <p>Vous pouvez passer commande : 

        Détailler les modalités choisies, par exemple :  

        Sur Internet : <strong>https://www.GEEK.ation.com</strong>
        Par téléphone au <strong>01 23 45 67 89</strong> (prix d'un appel local) <p class="colorcontact">du Lundi au Vendredi, de 9h - 19h.</p></p>

        <p>Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la validation de votre commande.</p>  

        <p>La société <strong>GEEK'ation</strong> se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une commande pour quelque raison 
        que ce soit, et plus particulièrement en cas de problème d'approvisionnement, ou en cas de difficulté concernant la commande reçue.</p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 4 - Validation de votre commande</h2>
        <p>Toute commande figurant sur le site Internet <strong>https://www.GEEK.ation.com</strong> suppose l'adhésion aux présentes Conditions Générales.</p>

        <p>Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.</p>  
        
        <p>L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.</p> 
        
        <p>Vous déclarez en avoir parfaite connaissance.</p>  
        
        <p>La confirmation de commande vaudra signature et acceptation des opérations effectuées.</p>  
        
        <p>Un récapitulatif des informations de votre commande et des présentes Conditions Générales, vous sera communiqué en format PDF via l'adresse e-mail de confirmation 
        de votre commande.</p>
            
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 5 - Paiement</h2>
        <p>Le règlement des commandes s'effectue :
            <ul>
                <li><i class="fas fa-gamepad mr-2"></i> soit en liquide ;</li>
                <li><i class="fas fa-gamepad mr-2"></i> soit par chèque ;</li>
                <li><i class="fas fa-gamepad mr-2"></i> soit par carte bancaire ;</li>
            </ul>
        Lors du retrait de la commande sur place à la boutique.</p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 6 - Rétractation</h2>
        <p>La rétraction est possible par mail à <strong>contact@geekation.com</strong> ou par téléphone au <strong>01 23 45 67 89</strong> dans un délai de 4h après le 
        passage de la commande/p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 7- Disponibilité</h2>
        <p>Nos produits sont proposés tant qu'ils sont visibles sur le site <strong>https://www.GEEK.ation.com</strong> et dans la limite des stocks disponibles. </p>
        
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 8 - Livraison</h2>
        <p>Il n'est actuellement pas possible de sa faire livrer.</p>

        <p> Les commandes sont a venir chercher sur place à la boutique <strong>GEEK'ation, 22 rue Portefoin, 75003 Paris</strong></p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 9 - Garantie</h2>
        <p>Tous nos produits bénéficient de la garantie légale de conformité et de la garantie des vices cachés, prévues par les articles 1641 et suivants du Code civil.</p>

        <p>En cas de non-conformité d'un produit loué, il pourra être remplacé. </p>
    
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 10 - Responsabilité</h2>
        <p>Votre résponsabilité est engagé dés lors que le retrait est effectué.</p>

        <p>Un chèque de caution est également demander afin de palier a la case et autres dégats qui pourrait etre apporter au matériel louer.</p>

        <p>Le montant du chèque de caution est determiné en fonction des produits louer</p>
        
    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 11 - Droit applicable en cas de litiges</h2>
        <p>La langue du présent contrat est la langue française.</p>

        <p>Les présentes conditions de location sont soumises à la loi française.</p>

        <p>En cas de litige, les tribunaux français seront les seuls compétents.</p>

    <h2 class="mb-3 mt-5 pl-2 soustitrementions">Article 12 - Propriété intellectuelle</h2>
        <p>Tous les éléments du site <strong>https://www.GEEK.ation.com</strong> sont et restent la propriété intellectuelle et exclusive de la société <strong>GEEK'ation</strong>.</p>

        <p>Nul n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, 
        visuels ou sonores.</p>
        
        <p>Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de la société <strong>GEEK'ation</strong>.</p>  

        <p><strong>Team MASQ</strong> Sont les représentants légales de la société <strong>GEEK'ation</strong></p>
   
        
    

</div>
{% endblock %}
