{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
    <h1 class="uppercase">Conditions Générales de Vente</h1>
    <h2>Dénomination de la société</h2>
    <p>
Société <strong>SAL GEEK'ation</strong> au capital de 1 euros
Siège social 22 rue portefoin, 75003 Paris ;  

N° de téléphone 01.34.77.92.68 ; Adresse du courrier électronique Team.MASQ@gmail.com
RCS de PAris n° 2154579894

N° individuel d'identification fiscal 214598964521359

Conditions générales de vente des produits vendus sur <strong>GEEK'ation</strong>

Date de dernière mise à jour 01/09/2019 </p>
    
    <h2>Article 1 - Objet</h2>
    <p>Les présentes conditions régissent la location par la société
        <strong>GEEK'ation</strong>
         des marchandises suivantes :
        <strong>consoles, jeux et accessoires</strong>.</p>
    
    <h2>Article 2 - Les prix</h2>
    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), 
    sauf indication contraire et hors frais de traitement et d'expédition. 
        La société <strong>GEEK'ation</strong>
        s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix 
        indiqués lors de l'enregistrement de la commande.
        Les produits demeurent la propriété de la société <strong>GEEK'ation</strong></p>
    
    <h2>Article 3 - Commandes</h2>
    <p>Vous pouvez passer commande : 

        Détailler les modalités choisies, par exemple :  

        Sur Internet : https://www.GEEK.ation.com
        Par téléphone au 01.34.77.92.68 (prix d'un appel local) du Lundi au Vendredi, de 9h - 19h.
        Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la validation de votre commande.  

        La société <strong>GEEK'ation</strong>
        se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une commande pour quelque raison que ce soit, et plus particulièrement en 
        cas de problème d'approvisionnement, ou en cas de difficulté concernant la commande reçue.</p>
    
    <h2>Article 4 - Validation de votre commande</h2>
        <p>Toute commande figurant sur le site Internet <strong>https://www.GEEK.ation.com</strong> suppose l'adhésion aux présentes Conditions Générales. 
        Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.  

        L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. 

        Vous déclarez en avoir parfaite connaissance.  

        La confirmation de commande vaudra signature et acceptation des opérations effectuées.  

        Un récapitulatif des informations de votre commande et des présentes Conditions Générales, vous sera communiqué en format PDF via l'adresse e-mail de confirmation 
        de votre commande. </p>
            
    <h2>Article 5 - Paiement</h2>
    {# <p>(Le règlement des commandes s'effectue :
        
        soit par chèque ;
        soit par carte bancaire ;
        Lors de l'enregistrement de la commande, l'acheteur devra verser un acompte de 10% du montant global de la facture, le solde devant être payé à réception des marchandises.)</p> #}
    
    <h2>Article 6 - Rétractation</h2>
    {# <p>(à rédiger)</p> #}
    
    <h2>Article 7- Disponibilité</h2>
    <p>Nos produits sont proposés tant qu'ils sont visibles sur le site <strong>https://www.GEEK.ation.com</strong> et dans la limite des stocks disponibles. </p>
        
    <h2>Article 8 - Livraison</h2>
    {# <p></p> #}
    
    <h2>Article 9 - Garantie</h2>
    <p>La livraison est effectuée :
        
        en retrait à notre boutique :
            <strong>SAL GEEK'ation
            22 rue portefoin, 75003 Paris</strong>
        Tous nos produits bénéficient de la garantie légale de conformité et de la garantie des vices cachés, prévues par les articles 1641 et suivants du Code civil.
        En cas de non-conformité d'un produit loué, il pourra être remplacé. </p>
    
    <h2>Article 10 - Responsabilité</h2>
    {# <p></p> #}
        
    <h2>Article 11 - Droit applicable en cas de litiges</h2>
    <p>La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi française. En cas de litige, les tribunaux français 
    seront les seuls compétents.</p>

    <p>Fait aux Mureaux, le 01/09/2019<p>

    <strong>Team MASQ</strong>
    <p>Sont les représentants légales de la société
        <strong>GEEK'ation</strong>
    </p>

</div>
{% endblock %}
