{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
<h1>Les Cookies</h1>
<h2>Article 1 - Message succinct d'information</h2>
<p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de traceurs (cookies) réaliser des statistiques anonymes de visites, 
vous proposer des contenus et services adaptés à vos centres d'intérêts et vous permettre de partager des informations sur les réseaux sociaux.

Pour en savoir plus et paramétrer les traceurs, cliquez sur ce lien <a>cookies</a>.</p>

<h2>Article 2 - Informations détaillées et possibilités de paramétrage des traceurs</h2>
<p>Le site que vous visitez utilise des traceurs (cookies). Ainsi, le site est susceptible d'accéder à des informations déjà stockées dans votre 
équipement terminal de communications électroniques et d'y inscrire des informations.

Les traceurs utilisés par le site relèvent de deux catégories :

- traceurs dits strictement nécessaires, qui ne nécessitent pas votre consentement préalable,

- autres traceurs soumis à votre consentement préalable.</p>

<h3>1 - Traceurs exemptés de consentement préalable</h3>

<p>Nous utilisons ces traceurs pour permettre et faciliter la navigation sur le site notamment en mémorisant vos préférences de navigation 
définies au cours de votre session et réaliser des statistiques anonymes de visites].

Ces traceurs ne peuvent pas, techniquement, être désactivés depuis le site. Vous pouvez néanmoins vous opposer à l'utilisation de ces traceurs, 
exclusivement en paramétrant votre navigateur. Ce paramétrage dépend du navigateur que vous utilisez, mais il est en général simple à réaliser : en principe, 
vous pouvez soit activer une fonction de navigation privée soit uniquement interdire ou restreindre les traceurs (cookies). Attention, il se peut que des traceurs 
aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas, effacez votre historique de navigation, toujours en utilisant 
le paramétrage de votre navigateur.</p>

<h3>2 - Traceurs soumis à votre consentement préalable</h3>

<p>Le site utilise des traceurs sous notre contrôle et d'autres placés sous le contrôle de tiers [si applicable ; sinon, adapter l'ensemble du paragraphe], 
qui sont soumis à votre consentement préalable.</p>

<h4>2.1 - Traceurs sous notre contrôle<h4>

{# <p>Nous utilisons ces traceurs pour _____ [préciser la finalité, éventuellement par sous-catégories de traceurs].

Le tableau ci-dessous liste les traceurs sous notre contrôle qui sont soumis à votre consentement préalable.

_____ [insérer un tableau comportant 3 colonnes : désignation du traceur, objectif poursuivi, durée de validité].

Vous pouvez vous opposer à l'utilisation de ces traceurs en paramétrant votre navigateur _____ [si applicable : ou en utilisant les fonctions proposées par le site].</p> #}

<h4>2.2 - Traceurs sous le contrôle de tiers<h4>

{# <p>Ces traceurs sont utilisés pour _____ [préciser la finalité, éventuellement par sous-catégories de traceurs].

Le tableau ci-dessous liste les traceurs sous le contrôle de tiers qui sont soumis à votre consentement préalable.

_____ [insérer un tableau comportant 4 colonnes : désignation du traceur, objectif poursuivi, durée de validité, tiers responsable].

Vous pouvez vous opposer à l'utilisation de ces traceurs en paramétrant votre navigateur _____ [si applicable : ou en utilisant les fonctions proposées par 
le site / ou en vous rapprochant du tiers concerné conformément aux indications figurant dans le tableau qui précède].

L'utilisation des traceurs est régie par l'article 32 II de la loi n° 78-17 du 6 janvier 1978, transposant l'article 5.3 de la directive 2002/58/CE du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.

Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : www.cnil.fr.</p> #}

</div>
{% endblock %}