{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

<div class="sitefake text-center mt-5">
    <p>Ce site à été créé dans le but de réaliser une soutenance WEBFORCE3.</p>
    <p>Ce site est un faux.</p>
    <p>Merci de votre compréhension.</p>
    <strong class="teamasq">La Team MASQ.</strong>
</div>

<h1 class="text-center mb-5 mt-5 titrementions">Mentions Légales</h1>

<div>
<p>Ce site est édité par la société <strong>GEEK'ation</strong>.
    <ul class="colorcontact">
        <li>Siège social : <strong>GEEK'ation 22 rue portefoin, 75003 Paris</strong></li>
        <li>Capital social : <strong>1 euros</strong></li>
        <li>Téléphone : <strong>+33 (0)1 23 45 67 89</strong></li>
        <li>Responsable de la rédaction : <strong>Team MASQ</strong></li>
        <li>Développement : <strong>Team MASQ – https://www.GEEK.ation.com</strong></li>
    </ul>
</p>
</div>

<p>Aucune information personnelle n'est collectée à votre insu.</p>

<p>Les informations que vous nous communiquez lors d'une commande, par téléphone, par e-mail ou par formulaire sont uniquement destinées au traitement administratif 
et commercial de votre demande par la société <strong>GEEK'ation</strong>.</p>

<p>Elles ne font l'objet d'aucune cession à des tiers.</p>

<p><strong>GEEK'ation</strong> traite les informations qui vous concernent avec la plus grande confidentialité.</p>

<p>Conformément à la loi « Informatique et Libertés » n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux données 
personnelles vous concernant. Pour l'exercer, il suffit de nous en faire la demande par écrit aux coordonnées suivantes : <strong>GEEK'ation, 22 rue portefoin, 75003 Paris, France</strong>.</p>

<h2 class="mb-3 mt-5 pl-2 soustitrementions">Droit d'auteur / copyright</h2>
<p>L'ensemble du contenu du présent site Internet, y compris nom de domaine, marques, logo, texte… est la propriété de la société <strong>GEEK'ation</strong>, il est protégé par 
les lois en vigueur de la législation française sur la propriété intellectuelle.</p>

<p>Aucun élément de ce site ne peut être copié, reproduit, détourné ou dénaturé, et ce, sur quelque support que ce soit, sans constituer un acte de contrefaçon 
au sens des articles L 335-2 et suivants du code de la propriété intellectuelle.</p>

<h2 class="mb-3 mt-5 pl-2 soustitrementions">Accès au site</h2>
<p>L'utilisateur de ce site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site.</p>

<p><strong>GEEK'ation</strong> ne saurait être tenu 
responsable des éléments en dehors de son contrôle et des dommages qui pourraient éventuellement être subis par l'environnement technique de l'utilisateur 
et notamment, ses ordinateurs, logiciels, équipements réseaux et tout autre matériel utilisé pour accéder ou utiliser le service et/ou les informations.</p>

<p>Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans un système informatique, d'entraver ou de fausser le fonctionnement d'un tel système, 
d'introduire ou de modifier frauduleusement des données dans un système informatique constitue des délits passibles de sanctions pénales.</p>

<h2 class="mb-3 mt-5 pl-2 soustitrementions">Limitation de responsabilité</h2>
<p><strong>GEEK'ation</strong> s'attache à transmettre des informations régulièrement mises à jour, notamment sur les actualités ainsi que sur le contenu des articles.</p>

<p>Toutefois des informations erronées ou des omissions peuvent être constatées, suite notamment à des erreurs de saisie ou de mise en page.</p>

<p>Si vous en faisiez le constat nous vous invitons à nous le signaler pour que nous puissions procéder à leur rectification.</p>

<p>Nous nous réservons par ailleurs le droit de modifier les informations ou les éventuelles offres commerciales fournies par le présent site, dans le cadre de nos 
opérations d'actualisation et de mise à jour des données, et ce sans préavis.</p>

<p>Les liens hypertextes mis en oeuvre au sein du présent site Internet, en direction d'autres sites et/ou de pages personnelles et d'une manière générale vers toutes 
ressources existantes sur Internet, ne sauraient engager la responsabilité de <strong>Team MASQ</strong>.</p>

<p>De même que la société <strong>GEEK'ation</strong> ne pourra en aucune façon être tenue pour responsable des sites ayant un lien hypertexte avec le présent site et décline toute 
responsabilité quant à leur contenu et à leur utilisation.</p>


</div>
{% endblock %}