{% extends 'base.html.twig' %}

{% block content %}

<div class="container">
    <h1 class="text-center">Protections des Données</h1>

<p><strong>GEEK'ation</strong>, SAL  au capital de 1 € , inscrite au registre du commerce et des sociétés de Paris sous le numéro 12345674984, est le responsable du 
traitement des données collectées sur le Site de <strong>GEEK'ation</strong>.</p>

<p>L’utilisateur est notamment informé que conformément à l’article 32 de la loi Informatique et libertés du 6 janvier 1978 modifiée, les informations qu’il 
communique par les formulaires présents sur le Site de <strong>GEEK'ation</strong> sont nécessaires pour répondre à sa demande et sont destinées aux services en charge de répondre à sa 
demande à des fins de suivi de cette demande.</p>

<p>Conformément aux dispositions des articles 39 et 40 de la loi « Informatique et Libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur bénéficie d’un droit d’accès, 
de rectification, de mise à jour et d’effacement des informations qui le concernent, qu’il peut exercer en s’adressant àcil@masociete.com, ou par courrier 
à SAL <strong>GEEK'ation, 22 rue Portefoin, 75003 Paris</strong>, en précisant dans l’objet du courrier « Droit des personnes » et en joignant la copie de son 
justificatif d’identité.</p> 

<p>Vous bénéficiez également du droit de donner des directives sur le sort de vos données après votre décès.</p>

<p>Conformément aux dispositions de l’article 38 de la loi « Informatique et Libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur peut également s’opposer, 
pour des motifs légitimes à ce que ses données fassent l’objet d’un traitement et sans motif et sans frais, à ce que ses données soient utilisées à des fins de prospection commerciale.</p> 

<p>L’utilisateur est informé que lors de ses visites sur le Site <strong>https://www.GEEK.ation.com</strong>, un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>

<p>Les informations recueillies sur ce site seront conservées pendant une durée de trois ans.</p>

<p>Le cookie est un bloc de données qui ne permet pas d’identifier les utilisateurs mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site. 
Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante www.cnil.fr.</p>

<p>L’utilisateur dispose d’un droit d’accès, de retrait et de modification des données à caractère personnel communiquées par le biais des cookies dans les conditions 
indiquées ci-dessus.</p>

<p>L’utilisateur du Site de <strong>GEEK'ation</strong> est tenu de respecter les dispositions de la loi Informatique et libertés du 6 janvier 1978 modifiée dont la violation est passible de 
sanctions pénales. Il doit notamment s’abstenir, s’agissant des informations nominatives auxquelles il accède, de toute collecte, de toute utilisation détournée, 
et d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.</p>

<h3 class="text-center pl-2">Nous prenons votre vie privée très au sérieux !</h3>

<p>Merci d’utiliser nos sites Web et nos services ! Comme vous, nous croyons que l’intégrité personnelle est importante et nous prenons votre vie privée au sérieux. 
Cette charte de confidentialité est pertinente pour toute personne physique partageant ses données personnelles directement ou indirectement avec <strong>GEEK'ation</strong> en 
visitant nos sites Web ou en utilisant nos services, tels que PRODUIT.</p>

<p><strong>GEEK'ation</strong> est une société établie en France et, en tant que telle, nous adhérons à la législation française sur la protection des informations personnelles (1998: 204) 
qui applique la Directive sur la protection des données européennes 95/46/EC.</p>

<p>Notre siège social est situé au 22 rue Portefoin, 78003 Paris. N’hésitez pas à nous faire part de vos questions ou préoccupations en matière de protection des données, 
à l’adresse suivante : <strong>contact@geekation.com</strong>.</p>

<p>Dans cette charte de confidentialité, nous expliquons quels types de données personnelles sont susceptible d’être traité et dans quelle finalité. Nous expliquons 
également les choix que vous avez par rapport à notre traitement et la façon dont vous pouvez en apprendre davantage sur notre traitement et sur vos droits.</p>

<h2 class="mb-3 mt-5 pl-2">PORTÉE DE LA CHARTE DE CONFIDENTIALITÉ</h2>
<p>Veuillez noter que cette charte de confidentialité concerne le traitement des données personnelles dont <strong>GEEK'ation</strong> est la Responsable de Traitement, c’est-à-dire dans 
les cas où <strong>GEEK'ation</strong> a décidé des finalités et des moyens de traitement.</p>

<p>Pour éviter toute ambiguïté, cette Charte de confidentialité ne concerne aucun traitement de données personnelles que <strong>GEEK'ation</strong> peut effectuer en tant que Sous-Traitant 
découlant de votre utilisation de nos services.</p>

<p>Pour obtenir plus d’informations sur la façon dont nos services, peuvent être utilisés pour faciliter vos traitements de données personnelles, et sur les responsabilités 
et les engagements de <strong>GEEK'ation</strong> en relation avec ceux-ci, veuillez vous référer aux conditions applicables.</p>

<h2 class="mb-3 mt-5 pl-2">DONNÉES PERSONNELLES TRAITÉES</h2>
<p>Les données personnelles désignent les données qui vous identifient en tant que personne physique. Nous pouvons être amené à traiter les types de données personnelles 
suivants vous concernant :
<ul>
    <li>votre nom,</li>
    <li>l’adresse courriel,</li>
    <li>le numéro de téléphone,</li>
    <li>les informations utilisateur,</li>
</ul> 

<p>si vous vous connectez à notre service ou visitez nos sites internet : </p>
<ul>
    <li>Ces informations peuvent comprendre le numéro IP,</li>
    <li>le type de périphérique,</li>
    <li>le navigateur,</li>
    <li>le fuseau horaire,</li>
    <li>la situation géographique,</li>
    <li>vos intérêt</li>
    <li>vos préférences des informations sur la façon dont vous interagissez avec nos services,</li> 
    <li>les fonctionnalités utilisées,</li> 
    <li>les boutons cliqués et</li>
    <li>les autres informations que nous recevons à travers vos contacts</li>
</ul></p>

 
<h2 class="mb-3 mt-5 pl-2">FINALITES DE TRAITEMENT</h2>
<p>Nous traitons vos données personnelles pour les finalités suivantes :

Fournir nos services conformément aux conditions applicables
Administrer la relation d’affaires avec vous et le client de <strong>GEEK'ation</strong> que vous représentez
Développer et améliorer nos services
Afin de fournir des informations et des offres aux clients de <strong>GEEK'ation</strong> actuels ou potentiels sur nos services par des parties tiers sélectionnés. Pour éviter toute 
ambiguïté, tout matériel de marketing distribué à l’aide de vos données personnelles vous est envoyé en tant que représentant de client actuel ou potentiel de <strong>GEEK'ation</strong> 
et non à vous en tant que personne privée.</p>

<h2 class="mb-3 mt-5 pl-2">PARTAGE AVEC DES TIERS ET TRANSFERT VERS LES PAYS TIERS</h2>
<p>Nous pouvons partager des données personnelles avec des tiers aux fins expliquées ci-dessus. Pour éviter tout doute, nous ne partagerons pas de données personnelles 
avec des tiers de manière à ce que ces tiers utilisent des données personnelles à des fins de marketing direct en relation avec vous en tant que particulier, mais uniquement 
avec vous en tant que représentant de client actuel ou potentiel de <strong>GEEK'ation</strong>.

Nous pouvons transférer des données personnelles dans un pays en dehors de l’EEE, mais nous devrons alors tout d’abord obtenir votre consentement ou veiller à ce que le 
transfert soit légal et sécuritaire en prenant d’autres dispositions.

Comme expliqué ci-dessus, n’oubliez pas que cette charte de confidentialité ne concerne aucun traitement de données pour lequel vous pourriez être responsable à la suite 
de l’utilisation de nos services. Vous, ou la partie que vous représentez, êtes toujours responsables de votre traitement des données personnelles conformément à la loi en vigueur.</p> 

<h2 class="mb-3 mt-5 pl-2">VOS DROITS</h2>
<p>Il est de notre obligation de traiter des éléments personnels précis, pertinents et nécessaires tout en tenant compte de nos finalités légitimes. Il est de votre droit de nous contrôler.
Pour mettre à jour les données personnelles que nous traitons vous concernant, veuillez nous contacter sur Team.MASQ@gmail.com. Pour recevoir gratuitement un 
extrait de données personnelles que nous traitons vous concernant, envoyez-nous une lettre signée à l'adresse de <strong>GEEK'ation</strong> .</p>

</div>
{% endblock %}